form.admin div:first-child input {
  width: 100%;
  max-width: 147px;
}
form.admin,
div.admin {
  padding: 24px;
  margin: 24px;
}
main.admin {
  display: grid;
  margin: 24px 64px 0px 64px;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
}
h2.admin {
  text-align: center;
  margin-top: 24px;
}
form.admin.bookings,
div.admin.bookings {
  margin: 24px 88px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form.bookings input:not(.submit-button) {
  margin-left: 8px;
}
