nav.navbar {
  margin: 0 88px;
  border-bottom: var(--border);
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 12px;
}
nav li {
  margin: 0;
  padding: 0;
  width: 195px;
  height: 80px;
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}
li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: inherit;
}

nav li.active {
  border-bottom: 4px solid var(--black);
  padding-bottom: 0;
}
nav li.not-active {
  padding-bottom: 2px;
}
